* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(sun.gif);

}
.container-fluid
{
    width: 400px;
    margin: 60px auto;
    padding: 10px;
}
.inputs 
{
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: black;
}
.inputs input[type="text"] 
{
    height: 4rem;
    width: 20rem;
    background: #212121;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right:4px ;
    color: whitesmoke;
}
.inputs input[type="submit"] 
{
    height: 3rem;
    width: 6rem;
    background: #0a67ca;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}
#add:hover{
    color: black;
    background-color: orange;
}

.display 
{
    text-align: center;
    width: 400px;
    color: #16a864;
}
/*.wrapper 
{
    margin: 0 9rem;
    background-color: red;
    height: 45vh;
    margin: 50px auto;
    border-radius: 2px;
}*/

.wrapper h2
{
    padding: 5px 0;
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
}
.wrapper p
{
    margin:20px 50px;
    margin-right: 20px;
    text-align: left;
    color: green;
    font-size:23px;
    font-weight: bold;
    background-color: black;


}
.wrapper h2 span
{
    font-size: 26px;
    color: white;
}
.wrapper p span
{
    color: #f4780d;
    font-weight: bold;
    font-size: 25px;
}
.main h1{
    color: white;
    text-align: center;
    font-size: 45px;
    padding: 30px;
    animation: move;
    transition: 0.3s;
}
